body 
{
margin: 0;
height: 100%;
}

#top 
{
 top: 0px; 
 left: 0px;
 right: 0px; 
 height: 100px; 
 padding-top: 50px;
 padding-left: 100px; 
 position: absolute;
 background-color: blue; 
}

#left-side 
{
 padding-top: 125px; 
 padding-left: 100px; 
 width: 350px;
 background-color: red; 
 
}

#login
{
 padding-right: 25px; 
 
}

#right-side
{
 top: 0px; 
 left: 450px;
 right: 0px;
 position: relative;
 padding-top: 45px; 
 padding-left: 25px; 
 background-color: green; 
}

#bottom 
{
top: 950px;
bottom: 0px; 
position: absolute;
background-color: green; 
}

ul
{
padding: 0px; 
margin: 0px; 
}

li
{
font-family: 'Raleway';
font-size: 20pt; 
list-style: none; 
color: #055e11;
padding: 0px; 
margin: 0px; 
}

li ul a 
{
font-family: 'Antic'; 
font-size: 16pt; 
list-style: none;
color: #555252;
padding: 3px 3px 3px 15px;; 
margin: 0px;
display: block;
text-decoration: none;
}

ul li a 
{
text-decoration: none;
}

a:hover 
{
color: #6baed1; 
}

#navbar
{
padding-top: 100px; 
}

.content 
{
font-family: 'Antic';
color: #555252; 
padding-top: 165px; 
padding-right: 175px; 
margin: 0px;
h1 {font-size:36px;}
h2 {font-size:24px;}
p {font-size:14px;}	
}

