

ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul#menu a {
  display: block;
  text-decoration: none;	
}



ul#menu li a {
  color: #055e11;	
}

ul#menu li a:hover {
 color: #6baed1; 
}

ul#menu li ul li a {
  color: #555252 ; 
}

ul#menu li ul li a:hover {
color: #6baed1; 
}

